.modal-newTask__body-header {
	padding-left: 20px;
	margin-bottom: 10px;
	position: relative;
}
.modal-newTask__body-header::before {
	position:absolute;
	content: "";
	top: 50%;
	left: 5px;
	transform: translate(-50%, -50%);
	width: 10px;
	height: 10px;
	background-color: rgb(135, 28, 168);
}
.modal-newTask__timeSelection-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-newTask__timeSelection-container .timeSelection-block {
	flex: 1;
}
.modal-newTask__timePeriod-container {
	text-align: center;
}
.modal-newTask__info { 
	margin: 10px 0;
}
.modal-newTask__notification-container {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
.modal-newTask__notification-container svg {
	margin-right: 5px;
}
.modal-newTask__info-owner {
	display: flex;
	align-items: center;
}
.modal-newTask__info-owner i {
	margin-right: 5px;
	padding-left: 5px;
}
