
.guest-layout--wrapper {
  background-color: white;
  min-height: 100vh;
  font-family: 'Inconsolata', monospace !important;
}
.guest-layout--header {
  padding: 0 3rem;
  background-color: white;
}
.guest__nav--header {
  display: flex;
  align-items: center;
}

.guest__nav-list--header {
  list-style: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
}

.guest__nav-item {
  color: black;
  cursor: pointer;
}
.guest__nav-link {
  padding: 30px 10px;
  margin: 5px;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
}
.guest__nav-link:hover {
  color: rgb(141, 138, 138);
}
.header__logo {
  font-size: 32px;
  font-weight: 500;
  margin-right: 3rem;
}
.header__logo-dot {
  color: red;
}

.guest__nav--header .guest__login-link {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.guest__nav-item-hamburger--header {
  padding: 1rem 0;
}
.guest__nav-item-hamburger--header .btn-hamburger i {
  font-size: 1.3rem;
}
.guest-layout__footer {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}
.guest__nav-link {
  display: block;
}
@media screen and (max-width: 768px) {

  .guest__nav-list--header {
    flex:1;
    justify-content: space-between;
  }
  .header__logo {
    margin-left: 20px;
  }
}

