/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
#defaultLayout,
#guestLayout {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #212121;
  background-color: #f6f6f6;
}

input {
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 2px solid #e6e6e6;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  transition: all 0.3s;
}

input:focus {
  border-color: #5b08a7;
}

.btn,
.btn-add,
.btn-edit,
.btn-delete {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #5b08a7;
  border: 0;
  text-decoration: none;
  padding: 15px;
  color: #ffffff;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.btn-block {
  width: 100%;
}
.btn-google {
  display: block;
}
.btn-profile {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.2s ease;
}
.btn-profile svg {
  width: 25px;
}
.btn-profile:hover {
  background: rgba(0, 0, 0, 0.1);
}
.btn-signOut {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border:none;
  cursor: pointer;
  text-decoration: none;
  color: rgb(1,1,1);
  background: rgba(0, 0, 0, 0.103);
  padding: 10px;
  border-radius: 20px;
  transition: background 0.2s ease;
}
.btn-signOut:hover {
 background-color: rgba(0, 0, 0, 0.048);
}
.btn-signOut svg{
  width: 30px;
}

.btn-add,
.btn-edit,
.btn-delete {
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  border-radius: 4px;
}
.btn-add {
  background-color: #00a762;
}
.btn-delete {
  background-color: #b72424;
}

.btn-logout {
  text-decoration: none;

  padding: 0.75rem 1.5rem;
  color: #ffffff;
  transition: all 0.3s;
  border-radius: 6px;
}
.btn-logout:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:active,
.btn:focus {
  background: #5b08a7;
}
.btn-close {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.btn-transparent {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.btn-transparent:hover,
.btn-transparent:focus {
  background-color: rgba(164, 94, 192, 0.116);
}
.btn__add-task-wrapper {
  width: 60px;
  height: 60px;
  box-shadow: 1px 1px 5px -1px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow, background-color 0.3s ease-in-out;
  cursor: pointer;
}
.btn__add-task-wrapper:hover {
  box-shadow: 1px 1px 15px -4px;
}
.btn__add-task-wrapper:active,
.btn__add-task-wrapper.task-active {
  box-shadow: 1px 1px 13px -2px;
  background-color: rgba(0, 0, 0, 0.11);
}

.btn__add-task {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.btn__add-task__absolute {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  z-index: 5;
}

.font-bold {
  font-weight: 500;
}

.svg-control {
  cursor: pointer;
}
.svg-control:hover,
.svg-control:active,
.svg-control:focus {
  fill: #00000086;
}
.text-center {
  text-align: center;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table > thead > tr > th {
  text-align: left;
  padding: 0.5rem 0.5rem;
  background-color: #efefef;
}

table > tbody > tr > td {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #efefef;
  white-space: nowrap;
}
.select {
   background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select-round {
   background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .7em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}
.select-round:focus{
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - .7em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

.card {
  /* margin-top: 0.5rem; */
}

.alert {
  padding: 1rem;
  background-color: #ff4040;
  color: white;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.notification {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
  padding: 1rem 1.5rem;
  background-color: #00a762;
  color: white;
  border-radius: 0.5rem;
}
.notification-error {
  background-color: #a70000;
}
.cursor--pointer {
  cursor: pointer;
}

.disable-selection {
  user-select: none;
}

.dates-switcher-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.dates-switcher__block {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
  transition: background 0.2s ease;
}

/* Icon hover effect */
.dates-switcher__block:hover {
  background: #e1e0e0;
}


.aside-seperator {
  width: 70%;
  align-self: center;
  height: 1px;
  color: rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.555);
  border: none;
}
.wrapper {
  position: relative;
}
.wrapper aside h3{
  color: white;
  margin-left: 0.5rem;
}

.btn-hamburger {
  background-color: transparent;
  border: none;
  padding: 2px 3px;
  border-radius: 5px;
}
.btn-hamburger:hover {
  cursor: pointer;
  color: rgba(73, 73, 73, 0.74);
}
.show-hamburger {
  display: block;
}


.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.form-checkbox {
  margin-top: 10px;

  background-color: #9e9e9e23;
  padding: 10px;
  width: 300px;
}
.checkbox-item label {
  display: flex;
  align-items: start;

  margin-bottom: 4px;
}
.checkbox-item input[type="checkbox"] {
  /* appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; */
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 8px;
}
.create-role-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  /* max-width: 300px; */
}
.create-role-form input {
  padding: 10px;
}
.create-role-form h3 {
  margin-bottom: 10px;
}
/* .create-role-form button {
    margin: 5px;
} */

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
