@media screen and (max-width: 768px) {
  .welcome-main__content {
    margin-top: 100px;
  }
  .welcome-main__content .main__title {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1rem;
  }
  .main__description {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
  }
  .main__buttons {
    display: flex;
    justify-content: center;
  }
  .main__buttons .btn-main {
    display: block;
    text-align: center;
    width: 80%;
    border-radius: 2.3rem;
    padding: 1.5rem;
    font-size: 18px;
    background: rgba(221, 53, 110, 0.9);
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  }

  /* Features section */
  .features {
    background: #FEE856;
    color: black;
    margin-top: 5rem;
    padding: 5rem 1.5rem;
    margin-bottom: 4rem;
  }

  .features__title,
  .coming-soon__title {
    font-size: 2rem;
    font-weight: 400;
    color: black;
    margin-bottom: 2rem;
    text-align: center;
  }

  .features__list,
  .coming-soon__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .features__item,
  .coming-soon__item {
    margin-bottom: 1rem;
    display: flex;
    /* align-items: center; */
  }
  .feature__icon--container,
  .coming-soon__icon--container {
    padding: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .feature__icon--container svg,
  .coming-soon__icon--container svg{
    width: 30px;
    display: block;
  }
  .feature__title,
  .coming-soon__item__title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .features__icon,
  .coming-soon__icon {
    display: inline-block;
    /* width: 24px;
    height: 24px; */
    margin-right: 10px;
  }
  .coming-soon {
    padding: 0 1.5rem;
  }
  .coming-soon__icon--container {
    background: #00ff2938;
  }
}
.reveal {
  position: relative;
  opacity: 0;
}
.reveal.section-active {
  opacity: 1;
}
.section-active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.section-active.fade-left {
  animation: fade-left 1s ease-in;
}
.section-active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-top{
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right{
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}