.calendar-weekly__container {
  font-size: 1rem;
  padding: 0rem 8rem;
  background-color: white;
}
.calendar-weekly__dates-switcher-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.calendar-weekly__dates-switcher_block {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
  transition: background 0.2s ease;
}

/* Icon hover effect */
.calendar-weekly__dates-switcher_block:hover {
  background: #e1e0e0;
}

.calendar-weekly__dates-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  margin-bottom: 15px;
  margin-left: 55px;
}
.calendar-weekly__date-block {
  text-align: center;
}
.calendar-weekly__date-block__weekday {
  font-size: 0.8rem;
}
.calendar-weekly__date-block__date {
  font-size: 1.5rem;
  position: relative;
  margin-top: 10px;
  cursor: pointer;
}
.calendar-weekly__date-block__date::before {
  position: absolute;
  content: "";
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: rgba(173, 114, 196, 0.23);
  transition: background 0.2s ease;
}

/* Pseudo-element for current date */
.calendar-weekly__date-block__date.current-date::before {
  opacity: 1;
}
.calendar-weekly__date-block__date.selected-date::before {
  opacity: 1;
  background-color: #9c59b66d;
  border: none;
}
.calendar-weekly__date-block__date:not(.date-active):hover::before {
  opacity: 1;
  border: none;
  background: rgba(0, 0, 0, 0.164);
}

.calendar-weekly__time-block {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.calendar-weekly__time-block .hour-label {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.603);
}
.time-cells-list {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
}
.tasks-list .modal-container {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}
.calendar-weekly__time-cell {
  border-bottom: 1px solid rgb(1 1 1 / 22%);
  border-right: 1px solid rgb(1 1 1 / 22%);
  /* padding: 30px; */
  padding: 2rem;
  flex-grow: 1;
  position: relative;
  /* z-index: 0; */
}
/* Trigger every 7th time cell  */
.modal-container:nth-child(7n + 7) .calendar-weekly__time-cell {
  border-right: none;
}

.clicked-new-task-modal {
  position: absolute;
  text-align: center;
  color: rgb(252, 252, 252);
  font-size: 0.7rem;
  font-weight: 700;
  top: 0;
  left: 0;
  transform: translate(5%, -5%);
  width: 90%;
  height: 100%;
  background-color: rgb(114 122 196 / 78%);
  border-radius: 10%;
}
.clicked-new-task-modal__text {
  font-weight: 500;
}
.second-half .clicked-new-task-modal {
  transform: translate(5%, -50%);
  top: 100%;
  z-index: 1;
}

.calendar-weekly__time-cell .tasks-list .modal-container {
  position: relative;
}
/* .calendar-weekly__time-cell .tasks-list .modal-container{
  position: relative;
} */
.calendar-weekly__time-cell .tasks-list .task-option {
  position: absolute;
  background-color: rgba(145, 214, 154, 0.399);
  font-weight: 700;
  border-radius: 5px;
  padding: 0.5rem;
  top: -96px;
  left: -32px;
  right: -21px;
  z-index: 1;
}

.calendar-weekly__task-option__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendar-weekly__task-option__title {
  font-size: 0.8rem;
}
.calendar-weekly__task-option__time {
  font-size: 0.7rem;
  font-weight: 400;
}

.task-period-background {
  background-color: lightblue; /* Change this to your desired background color */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.modal-task-time__day {
  margin-right: 10px;
}

.modal-task-time_time-selection-container {
  display: flex;
  align-items: center;
}
.modal-task-time_time-selection-container .time-selection-block {
  flex-grow: 1;
}
@media screen and (max-width: 1600px) {
  .calendar-weekly__container {
    padding: 0rem 3rem;
  }
}
@media screen and (max-width: 1024px) {
  .calendar-weekly__container {
    padding: 0rem 2rem;
  }
}
@media screen and (max-width: 768px) {
  .calendar-weekly__container {
    padding: 0;
  }
  .calendar-weekly__time-block .hour-label {
    margin: 0;
    padding: 0;
  }
  .calendar-weekly__dates-list {
    margin-left: 5px;
    margin-bottom: 5px;
  }
  .time-cells-list {
    margin-left: -2rem;
  }
  .calendar-weekly__time-cell {
    padding: 2rem 1rem;

  }

  .calendar-weekly__time-cell .tasks-list .task-option {
    padding: 0;
    font-size: 0.6rem;
    left: -18px;
    right: -7px;
  }
  .calendar-weekly__task-option__title {
    font-size: 0.7rem;
    text-wrap: wrap;
    font-weight: 500;
  }
}
