.calendar-weekly__container {
  font-size: 1rem;
  padding: 10px;
}

.calendar-weekly__dates-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  margin-bottom: 15px;
  margin-left: 35px;
}
.calendar-weekly__date-block {
  text-align: center;
}
.calendar-weekly__date-block__date {
  position: relative;
  margin-top: 10px;
  cursor: pointer;
}
.calendar-weekly__date-block__date::before {
  position: absolute;
  content: "";
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25px;
  width: 25px;
  z-index: -1;
  border-radius: 50%;
  border: 1px solid rgba(156, 89, 182, 0.6);
  transition: background 0.2s ease;
}

/* Pseudo-element for current date */
.calendar-weekly__date-block__date.current-date::before {
  opacity: 1;
}
.calendar-weekly__date-block__date.date-active::before {
  opacity: 1;
  background-color: #9c59b66d;
  border: none;
}
.calendar-weekly__date-block__date:not(.date-active):hover::before {
  opacity: 1;
  border: none;
  background: #dbdada;
}

.calendar-weekly__time-block {
  display: grid;
  grid-template-columns: 20px 1fr;
}
.time-cells-list {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
}
.calendar-weekly__time-cell {
  border: 1px solid black;
  padding: 30px;
  flex-grow: 1;
}
/* .hour-label {
	margin: 0 px;
} */
