/* 
CALENDAR BY MONTH
 */

.calendar-monthly-days {
  display: grid;
  font-weight: 500;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.calendar-monthly-days li {
  padding: 3px;
  /* height: 70px; */
  display: block;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
.calendar-monthly-wrapper {
  border-left: 1px solid black;
  background-color: #fff;
}
.calendar-monthly-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.calendar-monthly-dates .date {
  position: relative;
  padding: 3px;
  height: 100px;
  display: block;
  border-bottom: 1px solid black;
  /* border-left:1px solid black; */
  border-right: 1px solid black;
}

.calendar-monthly__date-task-list__list {
  margin-top: 3px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  text-align: start;
  list-style-type: dotted;
  list-style-position: inside;
}

.calendar-monthly__date-task-list__item {
  padding: 0;
  margin: 0;
  font-size: 13px;
}
.calendar-monthly__date-task-list__item:hover {
  background-color: rgba(204, 195, 204, 0.39);
}
.task-active {
  background-color: rgba(204, 195, 204, 0.39);
}
.task-option {
  cursor: pointer;
}


.dates-switcher__month-name {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.date-tasks__ellipsis {
  cursor:pointer;
}

.date-tasks__ellipsis:hover {
  color: rgba(0, 0, 0, 0.568);
}
.calendar-monthly__clicked-new-task-modal {
    text-align: center;
    color: rgb(252, 252, 252);
    font-size: 0.7rem;
    font-weight: 700;
    padding: 10px;
    background-color: rgb(173, 114, 196);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.399);
    border-radius: 10%;

}
@media screen and (max-width: 970px) {
  .calendar-monthly-dates .date {
    height: 180px;
  }
}
